@charset "utf-8";
/* CSS Document */
body{-webkit-text-size-adjust:none;}
body,p,h1,h2,h3,ul,li,div{ margin:0; padding:0;}
ul,li{ list-style:none;}
h1,h2,h3,h4,h5{ font-weight:normal;}
em,i{ font-style:normal;}
body{ background-color:#f9f9f9; color:#030303; font-size:14px; line-height:18px; font-family: Arial,"微软雅黑",STHeiti;}
input{ font-size:14px;}
h1{ font-size:14px;}
a,a:hover{ color:#858585; text-decoration:none;}
input:focus{outline:none;}
input[type=button]{-webkit-appearance:none; border:none;}
input[type="text"]{ border:none;}
input,textarea,select{ outline:none;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

/*公共*/
.radius6{ border-radius:6px;}
.radius10{ border-radius:14px;}
.tab{ display:table; width:100%; box-sizing:border-box;}
.tleft{ display:table-cell;}
.tright{ display:table-cell;}
textarea{width:100%; resize:none;  padding:4px 10px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.fixed{ position:fixed; bottom:0; left:0; right:0;}

/*头部*/
header.header{ height:43px; background:url(../images/border.gif) repeat-x bottom left #ffffff; background-size:16px 1px; -webkit-background-size:16px 1px;position:relative; text-align:center;}
.header h1{ color:#fd8b07; text-align:center; width:100%; line-height:43px;}
.header a{ position:absolute; top:14px;}
.header .a-back{ width:9px; height:15px; left:14px; background:url(../images/back.png); background-size:100% 100%; -webkit-background-size:100% 100%;}
.header .a-more{ width:18px; height:14px; right:14px; background:url(../images/more.gif); background-size:100% 100%; -webkit-background-size:100% 100%;}

/*小区选择*/
.commfin{ background:#dcdcdc; padding:10px; border-bottom:1px solid #c6c6c6; width:100%; box-sizing: border-box; -webkit-box-sizing: border-box;}
.selq a{ display:block; float:left; width:30px; height:32px; background:url(../images/search.png) no-repeat 6px 6px #fff; background-size:20px; -moz-background-size:18px; -webkit-background-size:20px;border-top-left-radius:6px; border-bottom-left-radius:6px;}
.selq span{ display:block; margin-left:31px;}
.selq input{ width:100%; height:32px; border:none;border-top-right-radius:6px; border-bottom-right-radius:6px; box-sizing: border-box;} 
.selq{ border:1px solid #c3c3c3; border-radius:6px; background-color: #fff;}
.search{width:58px; height:32px; padding-left:6px;}
.search input[type="button"]{width:58px; height:32px; border-radius:4px; border:1px solid #c3c3c3; background-color:#e4e4e3;}

.location{ padding:0 10px;}
.location h1{ padding:14px 0px; background:url(../images/location.png) no-repeat left center; text-indent:26px; background-size:18px 22px; -webkit-background-size:18px 22px; border-bottom:1px solid #c6c6c6;}
.location h1 span{ color:#909090;}
.location p{ padding:14px 0; line-height:22px;}
.location span{ color:#fd8b07;}

.selcon{ background-color:#fff; padding:0px 10px;}
.selcon li{ border-bottom:1px solid #dadada; height:48px; line-height:48px; padding:0 14px;}
.selcon li:last-child{ border:none;}
.selcon li span{ display:block; float:left; color:#000;}
.selcon li a{ display:block; float:right;}
.selcon li i{ background:url(../images/right.gif) no-repeat 4px top; display:inline-block; width:18px; height:18px; background-size:10px 14px; vertical-align:middle;}

/*社区活动*/
.activity{ padding:0 6px;}
.activity li{ margin:16px 0; border:1px solid #cbcbcb; box-shadow:0 2px #d2d2d2;}
.activity img{ width:100%; height:auto;}
.c-more{ position:relative; margin:30px 0px;}
.c-more hr { background-color: #d2d2d2;border:none;height: 1px;}
.c-more a{ background-color: #f9f9f9;left: 50%;margin-left: -40px; padding: 0 8px;position: absolute; top: -8px; font-size:16px; color:#b5b5b5;}

/*登录*/
.title{ color:#fd8b07; margin:26px 0 26px 20px;}
.btn{color:#fff;}
.inpform{ margin:0px 10px 20px;}
.inptxt{ border:1px solid #dadada; background-color:#ffffff; box-shadow:0 2px #dcdcdc; -moz-box-shadow:0 2px #dcdcdc;}
.inptxt div{ padding:10px; line-height:28px;}
.inptxt div:first-child{ border-bottom:1px solid #eaeaea;}
.inptxt p span{ font-weight:bold; color:#202020; display:table-cell; width:70px; height:24px; border-right:1px solid #bdbdbd;}
.inptxt p input[type="text"]{ padding-left:10px; box-sizing: border-box; -webkit-box-sizing: border-box; border:none; height:28px; width:100%; display:table-cell;}
.inptxt p{ display:table; width:100%;}
.logbtn{ overflow:hidden; margin:28px 0 12px 0;}
.logbtn span{ display:block; width:50%; float:left;}
.logbtn span a{ display:block; height:36px; margin:0 6px;}
.logbtn span input{ display:block; width:100%; height:100%;}
.btgreen{ background-color:#02ae1a; border:2px solid #019615;}
.btred{ background-color:#e62909; border:2px solid #bd1e03;}
.logfp{ margin:0 20px 0 0; text-align:right;}

/*注册*/
.inp-hp{ margin-bottom:20px;}
.inp-hp input{ height:48px; width:100%; border:1px solid #dadada; box-shadow:2px 2px #dcdcdc; padding-left:10px; box-sizing: border-box; -webkit-box-sizing: border-box;}
.inp-padding{ padding:0 0 10px 10px;}
.inp-btn{ text-align:center;}
.inp-btn input[type="submit"]{color: #ffffff;height: 36px;border: none;width: 190px;text-align: center;}

/*重设密码*/
.inpreset{ margin:30px 0;}

/*忘记密码*/
.inptxt .inpvai input[type=button]{ height:30px; padding:0 10px;}
.inptxt div .inpvai span{ border:none; padding-left:10px;}
.agree{ margin:20px 0; text-align:center;}
.agree input{ margin:0 6px 0 0; vertical-align:text-top;}
.agree a{color:#02ae1a;}
.btgray{ background-color:#999999; border:2px solid #737373;}
.repget{ display:none;}

/*新鲜事*/
.header .a-bl{ width:53px; height:30px; right:14px; top:10px; background:url(../images/bl.png); background-size:100% 100%; -webkit-background-size:100% 100%; color:#fff; font-size:11px; text-align:center;}

.drag{height:40px; position:relative; color:#5e5e5e;}
#dragul{overflow:hidden;  padding:0 10px; position:absolute; left:0; top:0; right:0; border-bottom:1px solid #c6c6c6; height:40px; line-height:40px; font-size:0;}
#dragul span{ margin-left:18px; padding:6px 8px; font-size:13px;}
#dragul span:first-child{ margin:0;}
.dragcurrent{ background-color:#ffb95e; border-radius:12px; color:#fff;}

.list{ background-color:#fff;}
.list .l-li{ padding:12px 10px; border-bottom:1px solid #dbdbdb;}
.list .l-li a{ color:#030303; line-height:16px; display:table; width:100%;}
.l-img{ display:table-cell; vertical-align:middle; padding-right:9px; width:74px;}
.l-img img{ width:74px; height:50px; vertical-align:top;}
.l-middle{ display:table; height:50px;}
.l-info{ display:table-cell; vertical-align:middle;}
.l-pr{font-size:9px; color:#4f4f4f;}
.l-pr .l-comment{ float:left; background:url(../images/pl.png) no-repeat left center; background-size:10px 10px; -webkit-background-size:10px 10px; padding-left:12px;}
.l-pr .l-time{ float:right;}

/*我要爆料*/
.header .a-wbl{ width:20px; height:20px; right:14px; top:10px; background:url(../images/wbl.png); background-size:100% 100%; -webkit-background-size:100% 100%;}
.bl-des{ padding:14px 10px; border-bottom:1px solid #c6c6c6}
.bl-dpng{ padding-right:14px; width:38px;}
.bl-dpng img{ width:38px; height:38px;}
.bl-dfont{ vertical-align:top; font-size:13px;}
.bl-dfont span{ color:#008aff;}

.bl-winp{ padding:6px 10px; background-color:#fff; border-bottom:1px solid #c6c6c6;}
.bl-ninp{ border:1px solid #b3b3b3;}
.bl-ninp textarea{ border:none; height:124px; font-size:13px;}
.bl-inpfont{ border-top:1px solid #b3b3b3; line-height:28px; text-align:right; padding-right:10px; background-color:#f9f9f9;}

.bl-pz li{ float:left; margin:20px 0 0 0; width:33.333%;}
.bl-photo{ padding:0 20px; position:relative;}
.bl-photo img{ width:100%; height:auto;}
.bl-photo a{ position:absolute; width:24px; height:24px; right:12px; top:-6px; background:url(../images/del.png); background-size:100%; -webkit-background-size:100%;}
.bl-cam{ text-align:center; margin-top:20px;}
.bl-cam a{ display:inline-block; width:40px; height:40px; border-radius:50%; background:url(../images/camera.png) center center no-repeat #fd8b07; background-size:22px 20px; -webkit-background-size:22px 20px;}

/*跳蚤市场列表*/
.header .a-search{ width:20px; height:20px; right:14px; top:10px; background:url(../images/search1.png); background-size:100% 100%; -webkit-background-size:100% 100%;}
.header h1{ position:relative;}
.header h1 span{ padding-right:14px; display:inline-block; background:url(../images/dot.png) right center no-repeat; background-size:8px 6px; -webkit-background-size:8px 6px;}
.header h1 i{ position:absolute; display:inline-block; width:152px; height:6px; bottom:4px; left:50%; margin-left:-76px; border:1px solid #afafaf; border-top:none;}
.tz-sel{ width:125px; height:128px; background:url(../images/sel.jpg); background-size:100% 100%; -webkit-background-size:100% 100%;text-align:center; line-height:40px; padding-top:8px; box-sizing:border-box; -webkit-box-sizing:border-box; position:absolute; left:50%; margin-left:-62px; z-index:2; display:none;}
.tz-sel a{ color:#fff; width:100%; height:100%; display:inline-block;}
.tz-list{ margin-top:8px; border-top:1px solid #c6c6c6;}
.tz-ta{ font-size:10px; color:#808080;}
.tz-ta span:first-child{ padding-right:16px;}
.tz-price{ color:#fd8b07; font-size:14px;}
.tz-list .l-img img{ width:76px; height:60px;}
.tz-list .l-li a{ line-height:20px;}
.tz-buy{ font-size:12px; color:#ffffff; background-color:#ef2b0a; border-radius:2px; padding:2px;}
.tz-bottom{ height:30px; background-color:#f0f0f0; border-top:1px solid #b2b2b2; padding:10px 0;}
.tz-bottom a{ color:#fd8b07; font-size:15px; line-height:30px; display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; width:50%; text-align:center;}
.tz-bottom a:first-child{ border-right:1px solid #c7c7c7; float:left;}
.fixedbtm{ margin-bottom:80px;}

/*搜索*/
.header .a-searchbtn{ right:8px; top:6px; font-size:15px; color:#ffffff; background-color:#ffc342;}
.header .radius10{ border:1px solid #fd8b07; padding:5px 12px;}
.header h1.s-inp{ box-sizing:border-box; -webkit-box-sizing:border-box; padding:0 72px 0 36px;}
.s-inp input{ width:100%; box-sizing:border-box; -webkit-box-sizing:border-box;}

/*跳蚤市场详情*/
.tz-border{ margin:6px 10px 0; border:1px solid #cbcbcb; box-shadow:0 2px #dcdcdc;}

.photogd{ position:relative; width:100%; height:100%;}
.pagination{ position:absolute; width:100%; text-align:center; left:0; z-index:1; bottom:6px;}
.swiper-pagination-switch {display: inline-block;width: 5px;height: 5px;border-radius: 5px;background: #ffffff;margin: 0 3px;cursor: pointer;}
.swiper-active-switch {background: #f06729;}
.hp-swiper a{ display:block; width:100%; height:100%;}

.swiper-container{ width:100%; height:100%; overflow:hidden;}
.swiper-wrapper{ width:auto; height:100%; overflow:hidden;}
.swiper-slide{ width:100%; height:100%;}
.swiper-slide img{ width:100%; height:auto;}

.tz-infor{ padding:10px 10px 5px; border-bottom:1px solid #e2e2e2; line-height:20px;}
.tz-des{ font-size:12px;}
.tz-infor .tz-buy{ background-color:#3b66c1; padding:2px 5px;}
.tz-infor .tz-price span:first-child{ padding-right:18px;}
.tz-infor .tz-price{ margin:5px 0;}
.tz-zpl{ margin:10px 0}
.tz-zpl span{ width:50%; box-sizing:border-box; -webkit-box-sizing:border-box; display:inline-block; text-align:center; font-size:13px; color:#7c7c7c;}
.tz-z{ border-right:1px solid #bebebe; float:left;}
.bgz{ display:inline-block; background:url(../images/zgray.png); width:19px; height:19px; background-size:100%; -webkit-background-size:100%; vertical-align:middle;}
.bgpl{ display:inline-block; background:url(../images/pln.png); width:18px; height:17px; background-size:100%; -webkit-background-size:100%; vertical-align:middle;}
.tz-z a{ position:relative;}

.tz-userinfo{ padding:0 10px;}
.tz-userinfo p{ padding:10px 0; border-bottom:1px solid #e2e2e2; font-size:13px;}
.tz-usphoto{ display:inline-block; width:20px; height:20px; margin-right:6px; vertical-align:middle;}
.tz-usphoto img{ width:100%; height:100%;}
.tz-usname{ font-size:11px;}
.tz-iphone{ position:relative;}
.tz-iphone a{ position:absolute; right:14px; display:inline-block; width:20px; height:20px; background:url(../images/phone.png); background-size:20px; -webkit-background-size:20px;}
.tz-iphone em{ font-style:italic;}

.x-pl{ margin-bottom:20px; padding:0 10px 10px;}
.x-pc{ margin:10px 0 8px; font-size:12px; color:#030303;}
.s-clt {padding-top:10px;border-top: 1px solid #e2e2e2;position: relative;}
.s-clt.first {border-top: medium none;}
.s-clt dt {left: 0;overflow: hidden;position: absolute;text-align: center;top: 12px;}
.s-clt dd { margin-left: 36px;overflow: hidden;}
.pto img {border-radius: 30px;height: 30px;width: 30px;border:none;}
.info { line-height: 14px;overflow: hidden;font-size:14px;padding-top:4px;color:#9a9a9a; }
.nine {display: block; color:#6d6d6d; font-size:12px;}
.time{color:#6d6d6d; font-size:12px;}
.s-clt .one {padding: 6px 2px 10px 2px;font-size:14px;color:#1f1f1f; line-height:20px;}
.more {color: #ababab;display: block;height: 20px;line-height: 20px;margin: 0 10px;text-align: center; font-size:12px;}

.scroll{ position:absolute; top:0; bottom:57px; left:0; right:0; overflow:auto;}
.x-inp{ position:absolute; bottom:0; left:0; right:0; background:#fff; padding:10px; border-top:1px solid #9e9e9e; text-align:center;}
.x-inp .x-inc{ width:100%; height:32px;border: 1px solid #adadad;border-radius: 6px;background:url(../images/input.png) no-repeat 0px center #efefef; background-size:40px 24px; padding-left:40px; color:#282828; font-size:13px;}
.x-inp div span{height:32px; vertical-align:middle;}
.x-inp div span:nth-child(1){ padding-right:58px;}
.x-inp div span:nth-child(2){ width:60px;}
.x-inp input[type=button]{ height:32px; border-radius:6px; width:60px; background-color:#efefef; border: 1px solid #adadad;}

/*发布确认*/
.pbgw{ background-color:#ffffff; padding:15px; border-bottom:1px solid #cbcbcb;}
.pbgw span{ color:#fd9c2c;}
.twobtn{ margin:15px 5px 15px 15px;}
.twobtn span{ display:inline-block; width:50%; height:40px; line-height:40px; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box;}
.twobtn a{ display:inline-block; width:100%; height:100%; color:#ffffff; border-radius:4px;}
.twobtn span{ float:left; padding-right:10px;}
.twobtn span:first-child a{ background-color:#bcbcbc; }
.twobtn span:last-child a{ background-color:#45b035;}

/*选择分类*/
.catebody{ background-color:#ffffff;}
.category a{ display:inline-block; width:100%; height:66px; color:#030303; font-size:12px; text-align:center;}
.category li{ float:left; width:33.333%; margin-top:22px; padding:0 24px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.category .cate-img{  height:48px;}
.category p{ margin-top:6px;}

/*我要出售*/
.cs-tphoto{border-bottom:1px solid #cbcbcb; width:100%; padding:5px 0;}
.cs-tphoto li{width: 25%;float: left;position: relative; border:6px solid #f9f9f9;-webkit-box-sizing: border-box; box-sizing:border-box;}
.upload-list .upload_action #fileImage {opacity: 0;position: absolute;left: 0;top: 0;width: 100%;height:100%;}
.upload-list .upload_action img {display: block;width: 100%; height:100%;}
.upload_delete {position: absolute;top: -4px;right: -4px;width: 20px;height: 20px;background: url(../images/del.png) no-repeat;background-size: cover;}
.upload_item img{ display:none;}
.cs-txtarea textarea{ height:132px; border:1px solid #b3b3b3}

.cs-info{ background-color:#fff; border:1px solid #cbcbcb; box-shadow:none; margin:6px 0 18px 0;}
.cs-info p{ padding:10px; box-sizing:border-box; -webkit-box-sizing:border-box; font-size:14px;}
.inptxt p.cs-price span:last-child{ border:none; text-align:center; color:#818181;}
.cs-btn input[type="submit"]{ width:136px; height:40px; border-radius:4px;}

/*我的快件*/
.kj-div{ padding:10px; background-color:#fff; border:1px solid #e3e3e3;}
.kj-search{ margin:14px 0;}
.kj-simg{ width:30px; height:28px; padding-right:18px;}
.kj-simg img{ width:100%; height:100%;}
.kj-search div{ vertical-align:middle;}
.kj-search h2{ font-size:15px; line-height:22px;}
.kj-search p{ font-size:12px;}
.rightgif{ width:10px; height:16px; background:url(../images/right.gif) center center no-repeat; background-size:10px 16px; -webkit-background-size:10px 16px;}
.kj-info li{ border-bottom:1px solid #e3e3e3; padding:10px;}
.kj-info li:last-child{ border:none;}
.kj-icon{ padding-right:18px; width:32px; height:32px;}
.kj-icon img{ width:100%; height:100%;}
.kj-info div{ vertical-align:top;}
.kj-info{ padding:0; margin-bottom:60px;}
.kj-detail h3{ font-size:13px;}
.kj-detail p{ font-size:12px;}
.kj-detail time{ font-size:10px; color:#818181;}
.kj-fix{ border-top:1px solid #b2b2b2; padding:7px 0; text-align:center; background-color:#f9f9f9;}
.kj-fix a{ display:inline-block; font-size:15px; line-height:32px; height:32px; background:url(../images/call.png) left center no-repeat; background-size:32px 32px; -webkit-background-size:32px 32px; padding-left:40px;}
.kj-none{ text-align:center; font-size:15px; margin:20px 0;}

/*天气*/
.tq-today{ background:url(../images/mai.jpg) left top no-repeat; width:100%; background-size:cover;-webkit-background-size:cover; padding:49px 28px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.tq-info{ background:url(../images/tqinfo.png) left top no-repeat; width:263px; height:180px; background-size:100%; -webkit-background-size:100%; margin:auto; color:#ffffff;}
.tq-head p{ font-size:12px; line-height:24px; text-indent:8px;}
.tq-info .tq-time{ font-size:14px;}
.tq-info span{ display:block;}
.tq-left{ float:left; width:99px;  text-align:center; padding-top:27px;}
.tq-right{ float:left; width:164px; text-align:center; padding-top:16px;}
.tq-left img{ width:40px; height:32px;}
.tq-left .tq-font{ font-size:13px; color:#868686; margin-top:6px;}
.tq-left span:last-child{ font-size:22px; color:#00a0da; position:relative;  margin-top:6px;}
.tq-left .tq-d{ position:absolute;display:inline-block; margin-left:2px; width:4px; height:4px; border:1px solid #00a0da; background-color:#fff; border-radius:4px;}
.tq-pm{ font-size:12px;}
.tq-pmv{ font-size:31px; line-height:38px;}
.tq-wr{ font-size:13px;}
.tq-wind{ font-size:17px; line-height:26px;}

.tq-other{ padding:24px 0; border-bottom:1px solid #dddddd; background-color:#fff;}
.tq-other li{ float:left; width:25%; text-align:center;}
.tq-other li span{ display:block; font-size:11px; color:#333333;}
.tq-img{ height:56px; line-height:56px;}
.tq-ts{color:#656565; padding:20px 10px; border-bottom:1px solid #dddddd; background-color:#ffffff;}
.tq-tip{ font-size:12px; color:#656565; padding:15px 10px; line-height:20px;}
.tq-tip span{ color:#fd8b07;}
.tq-downbtn{ height:47px; line-height:47px; padding:0 10px; margin-bottom:20px;}
.tq-downbtn a{ height:100%; width:100%; color:#fff; border-radius:4px; background-color:#fd8b07; display:inline-block; text-align:center;  box-sizing:border-box; -webkit-box-sizing:border-box;font-size:15px;}
.tq-downbtn a span{ display:inline-block; width:250px; background:url(../images/down.png) left center no-repeat; background-size:34px 34px; -webkit-background-size:34px 34px;box-sizing:border-box; -webkit-box-sizing:border-box; text-indent:36px;}

/*小区开聊*/
.kl-div{ margin-top:6px; background-color:#fff; padding:0 16px;}
.kl-head{border-bottom: 1px solid #d8d8d7; padding: 6px 0; position: relative; font-size:13px;}
.kl-head img{ width:33px; height:33px; border-radius:33px; vertical-align:middle;}
.kl-list{ margin-bottom:60px;}
.kl-name{color:#424242; padding-left:4px;}
.kl-time{ color:#626262; position: absolute;right: 0;top: 14px;}
.kl-con{ margin:10px 0; line-height:22px;}
.kl-zpl{ padding-bottom:15px;}
.kl-z{ padding-left:12px;}
.kl-bottom{ height:50px; border-top:1px solid #dedbdb; text-align:center; line-height:50px; background-color:#fff;}
.kl-bottom span{ width:56px; background:url(../images/write.png) left center no-repeat; background-size:22px 20px; -webkit-background-size:22px 20px; padding-left:28px; display:inline-block; color:#ff9600;}

/*小区开聊详情*/
.kl-con img{ width:100% !important; height:auto !important;}
.kl-hf{padding:0 16px 6px; margin-bottom:50px;}
.kl-hf h2{ color:#fbb74c; font-size:15px; border-bottom:1px solid #d8d8d7; line-height:45px;}
.kl-hf li{ margin-top:10px;}
.kl-hftotal .tleft{ vertical-align:top;}
.kl-img{ width:26px; padding-right:4px;}
.kl-img img{ width:26px; height:26px; border-radius:26px;}
.kl-user{color:#2d2c2c; font-size:11px;}
.kl-people{padding-left:10px; line-height:16px;}
.kl-hfcon .kl-span{ display:inline-block; border-radius:16px; padding:10px 16px; background-color:#f2f2f2;}
.kl-hftime{ font-size:10px; color:#626262; text-align:center;}
.kl-top{ margin-top:8px;}
.kl-hf .c-more{ margin:40px 0 30px 0;}
.kl-hf .c-more hr{ background-color:#f2f2f2;}
.kl-hf .c-more a{ font-size:13px; background-color:#fff;}
.kl-bottom a{ display:block; width:100%; height:100%;}

/*回复*/
.kl-hfpage{ display:none;}
.header .a-hf{ background-color:#fd8b07;border:none; font-size:12px; padding:3px 12px; top:9px;}
.hf-winp{ border-bottom:none;}
.hf-winp .bl-inpfont{ background:none; font-size:11px;}

/*我有事说*/
.kl-select{ padding:0 10px; background-color:#fff; margin-top:6px;}
.kl-select p{ padding:14px 0; position:relative;}
.kl-spread{border-bottom:1px solid #d8d8d7; }
.kl-select label{ opacity:0; position:absolute; top:0; left:0; width:100%;}
.kl-select label input{ width:100%; height:46px; margin:0;}
.kl-select img{ vertical-align:middle; width:16px; height:16px;}
.kl-select span{ padding-left:6px;  color:#343434;}
.kl-spanf{ font-size:13px;}
.kl-spans{ font-size:10px;}

/*车辆限行*/
.xx-today{ background-color:#fd9c2c; text-align:center; padding:10px 0;}
.xx-title{ color:#fff; font-size:13px;}
.xx-title span{ font-size:15px;}
.xx-num{ width:91px; height:91px; box-shadow:4px 7px #e38b27; display:inline-block; margin:7px 7px 7px 0; padding-top:10px; background-color:#eb6211; box-sizing:border-box; -webkit-box-sizing:border-box;}
.xx-num span{ font-size:60px; display:inline-block; width:91px; text-align:center; height:81px; line-height:81px; background-color:#fff; color:#4a4a4a;}

.xx-rule{ background-color:#45b035; text-align:center;}
.xx-rule .xx-title{ line-height:37px; height:37px;}
.xx-rule .xx-title span{ padding-right:9px;}
.xx-ruul{ margin:0 10px;}
.xx-ruul li{ float:left; width:33.333%; margin-bottom:12px; text-align:center;}
.xx-derule{ border:1px solid #2744ac; background-color:#fff; border-radius:4px; width:82px; height:76.5px; display:inline-block; box-sizing:border-box; -webkit-box-sizing:border-box; padding:1.5px 1.5px 17.5px;}
.xx-derule p{ color:#fff; background-color:#2744ac; }
.xx-date{ font-size:12px; line-height:19px; border-top-left-radius:4px; border-top-right-radius:4px; margin-bottom:1px;}
.xx-number,.xx-number span{ box-sizing:border-box; -webkit-box-sizing:border-box;}
.xx-number{ font-size:30px; height:45px; line-height:45px; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.xx-number span{ font-size:20px; padding:0 6px; display:inline-block; vertical-align:top;}

.xx-inform{ background-color:#00a0da; padding:0 17px; margin-bottom:15px;}
.xx-inform h2{ padding:12px 0 6px 0; color:#fff; font-size:15px;}
.xx-tip{ font-size:12px; color:#fff;}
.xx-tip span{ color:#ffff00;}
.xx-btn{ text-align:center; padding:26px 0 20px 0;}
.xx-btn a{ display:inline-block; width:85.5px; height:85.5px; background:url(../images/xx.jpg); background-size:100%; -webkit-background-size:100%;}

/*订单详情*/
.dd-div{ padding:0 10px; background-color:#fff; border:1px solid #d9d9d9;}
.dd-title{ font-size:15px; color:#303030; margin:10px 0 6px;}
.dd-title .dd-num{ float:left;}
.dd-title .dd-status{ float:right; font-size:13px;}
.dd-ww{color:#8bb300}
.dd-yzm .dd-title{ color:#5c5c5c;}
.dd-des{ font-size:12px; color:#b8b8b8; padding:10px;}
.dd-des span{ color:#00afe8;}
.dd-yzinfo{ height:24px; line-height:24px; margin-bottom:6px;}
.dd-yzinfo .time{ font-size:12px; color:#b8b8b8; float:left;}
.dd-yzinfo .price{ font-size:24px; color:#fd8b07; float:right;}
.dd-detail li{ border-bottom:1px solid #f0f0f0;}
.dd-detail li:last-child{ border:none;}
.dd-buylist{ font-size:12px; color:#757575; padding:8px 0 10px 0;}
.dd-buylist em{ color:#fd8b07; font-size:18px;}
.dd-buylist span{ display:inline-block; height:22px; line-height:22px; width:50%; box-sizing:border-box; -webkit-box-sizing:border-box;}
.dd-price{ border-right:1px solid #e8e8e8; float:left;}
.dd-buylist .count{ padding-left:14px;}
.dd-sta{ padding:0 0 10px;}
.dd-sta em{ font-size:12px;}

/*我的消费记录*/
.xf-record li{ margin:7px 0 0; background-color:#fff; border:1px solid #d9d9d9;}
.xf-record .dd-title{ border-bottom:1px solid #eeeeee; padding:10px 12px 6px;}
.xf-detail{ display:table; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; padding:0 12px; font-size:15px; color:#303030; margin:8px 0;}
.xf-detail .l-img{ width:82.5px;}
.xf-detail .l-img img{ width:82.5px; height:82.5px; border-radius:43px;}
.xf-title{ margin:0;}
.xf-time{ font-size:12px; color:#b8b8b8; margin: 8px 0 6px 0;}
.xf-price{ color:#8b8b8b;}
.xf-price span{ font-size:24px; color:#fd8b07;}
.xf-right{ display:table-cell; width:10px; vertical-align:middle;}
.xf-right i{ display:inline-block;}
.dd-yw{ color:#fd8b07;}

/*驿站公告*/
.gg-div{ border:1px solid #cbcbcb;}
.gg-time{ color:#a9a9a9; font-size:11px;}
.gg-div h2{ font-size:18px; line-height:24px; margin:6px 0;}
.gg-con p{ font-size:13px; color:#7e7e7e;}
.gg-content{ margin-bottom:10px;}
.gg-con img{ width:100%; height:auto; margin-top:10px;}

/*家政*/
.jz-info li{ background-color:#fff;}
.jz-info .xf-detail{ padding:12px;}
.jz-cate{ font-size:16px; color:#202020; margin:6px 0;}
.jz-intro{ font-size:12px; color:#565656; line-height:20px;}
.jz-info .xf-detail .l-img{ width:80px;}
.jz-info .xf-detail .l-img img{ width:80px; height:81px; border-radius:24px;}
.jz-info .xf-right{ padding-left:9px;}

/*首页*/
.homepage{padding:0 15px; background:url(../images/border.gif) repeat-x bottom left #ffffff; background-size:16px 1px; -webkit-background-size:16px 1px;}
.hp-float{ padding:10px 0;}
.hp-left{ float:left;}
.hp-right{ float:right;}
.hp-header .hp-left{ display:inline-block; width:22px; height:21px; background:url(../images/ok.png); background-size:100%; -webkit-background-size:100%;}
.hp-header .hp-right{ color:#fd8b07;}
.hp-header .hp-right i{ width:18px; height:14px; background-image:url(../images/more.gif);vertical-align:text-bottom;}
.hp-right i{ display:inline-block; background-size:100% 100%; -webkit-background-size:100% 100%; margin-left:8px;}
.hp-swiper .swiper-active-switch {background: #ec270e;}
.hp-bottom{ margin-bottom:7px; background-color:#fff;}
.hp-ico{ padding:4px 0 17px;}
.hp-icobottom{ border-top:1px solid #d8d8d7;}
.hp-ico li{ width:25%; text-align:center; float:left; margin-top:13px;}
.hp-name{ display:inline-block;}
.hp-lista img{ width:36px; height:36px;}
.hp-name{ display:block; font-size:10px; color:#424242;}
.hp-icobottom{ display:none;}
.hp-more i{ width:9px; height:12px; background-image:url(../images/rightred.png); vertical-align:text-top;}
.hp-more{ font-size:12px; color:#343434; height:12px; line-height:12px; padding:10px 15px;}
.hp-more a{ color:#343434;}
.hp-sqtt{ padding:0 15px 12px;}
.hp-sqtt .l-detail{ display:table; width:100%; color:#030303;}
.l-plcount{ float:left;}
/*.hp-more .hp-left:before{ content:' '; width:2px; height:12px; background-color:#fd8b07;}*/
.hp-xqzb .hp-lista img{ width:67px; height:67px;}
.hp-xqzb .hp-ico li{ margin:10px 0;}
.hp-xqzb .hp-ico{ padding:0;}


.lifloat3 li{ float:left; width:33.33333%;}
.blocka{ display:block;}
.hp-djinfo{ padding:0 10px 10px;}
.hp-djinfo .blocka{ padding:0 4px;}
.hp-djimg{ padding:0 5px;}
.hp-djimg img{ width:100%; height:auto;}
.hp-dj{ text-align:center; }
.hp-djtitle{ color:#313131;font-size:10px; line-height:14px; overflow:hidden; height:28px;}
.hp-djprice{ color:#eb1b3f; font-size:12px; padding:4px 0 0;}

.hp-tz{ padding:0 15px 12px;}
.hp-tz .blocka{ font-size:12px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.lifloat2 li{ float:left; width:50%;}
.hp-tz1{color:#ec270e; padding:0 4px 8px 0; border-right:1px solid #d8d8d7; border-bottom:1px solid #d8d8d7;}
.hp-tz .tleft{ vertical-align:top;}
.hp-tz .hp-tzimg img{ vertical-align:top; width:58px; height:58px; padding-left:4px;}
.hp-tzdes{ width:100%;}
.hp-tz2{ color:#ffb608; padding:0 0 8px 4px; border-bottom:1px solid #d8d8d7;}
.hp-tz3{ color:#d267ff; padding:8px 4px 0 0; border-right:1px solid #d8d8d7;}
.hp-tz4{ color:#24a9fd; padding:8px 0 0 4px;}

.hp-kl{ margin:0 15px; font-size:11px; color:#2d2c2c;}
.hp-kl .s-clt{ margin:0; padding:0; border:none;}
.hp-kl .nine{ color:#2d2c2c; font-size:11px;}
.hp-kl .time{color:#626262; font-size:11px;}
.hp-kl .s-clt dt{ top:0;}
.hp-klcon{ padding-top:8px;}
.hp-klinfo{ padding:12px 0; border-bottom:1px solid #d8d8d7;}
.hp-klinfo:first-child{ padding:0 0 12px;}
.hp-klinfo:last-child{ border:none;}
