<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
  http://www.springframework.org/schema/tx   
  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
  http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-3.0.xsd  
  http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util-3.0.xsd  
  http://www.springframework.org/schema/mvc      
     http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
     http://www.springframework.org/schema/task  
     http://www.springframework.org/schema/task/spring-task-3.1.xsd  
  
 ">
 	<!-- 使用annotation 自动注册bean,并保证@Component , @Controller , @Service , @Repository的属性被注入 -->
 	<context:annotation-config />
	<context:component-scan base-package="com.community.app.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
    <!-- 数据库资源文件-->
	 <context:property-placeholder 
	 	location="classpath:mysql.properties"/>
	 <bean id="dataSource"
        class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass">
           <value>${jdbc.driverClassName}</value>  
        </property>
        <property name="jdbcUrl">
          <value>${jdbc.url}</value> 
        </property>
        <property name="user">
            <value>${jdbc.userName}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value> 
        </property>
        <property name="initialPoolSize">
            <value>${jdbc.initialPoolSize}</value> 
        </property>
        <property name="maxPoolSize">
            <value>${jdbc.maxPoolSize}</value> 
        </property>
	</bean>
	
    <bean id="sqlMapClient" class="org.mybatis.spring.SqlSessionFactoryBean"> 
       <property name="configLocation" value="classpath:SqlMapConfig.xml" />
       <property name="dataSource" ref="dataSource" />
    </bean> 
  
  	<!-- 获取事物 -->
    <bean id="SqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> 
        <constructor-arg index="0" ref="sqlMapClient" /> 
    </bean>

	<!-- spring 使用annotation -->
  	<!--在主容器中（applicationContext.xml），将Controller的注解排除掉 -->
  	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	  <property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
		
	<!-- 上传图片   -->
	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize">  
            <value>2048576</value>  
        </property>  
    </bean>  
  	<!-- 注册 applicationContext 为 AXIS2 -->
    <bean id="applicationContext" class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />
    <!-- WS Bean 注册 start -->
    <bean id="qNHActivitySer" class="com.community.ws.QNH.QNHIFServer.QNHActivitySer"></bean>
    <bean id="uploadFileSer" class="com.community.ws.QNH.QNHIFServer.UploadFileSer"></bean>
    <bean id="qNHOfflineRegActSer" class="com.community.ws.QNH.QNHIFServer.QNHOfflineRegActSer"></bean>
     <!-- WS Bean 注册 end -->
     
    <!-- 配置freeMarker的模板路径 -->  
    <bean id="freemarkerConfig"  
        class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath" value="/WEB-INF/ftl/" />
    </bean>
    <bean id="freeMarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">  
	    <property name="templateLoaderPath" value="/WEB-INF/ftl/" />  
	     <property name="freemarkerSettings">  
	        <props>         
	            <prop key="defaultEncoding">UTF-8</prop>         
	        </props>         
	    </property>  
	</bean>
	<!-- Spring定时器注解开关-->
<!-- 	<task:annotation-driven/>   -->
	<context:component-scan base-package="com.community.app.module.task.MyTask"></context:component-scan>  
</beans>

