<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessActivityCouponDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessActivityCouponResult" type="BusinessActivityCoupon">
			<result column="couponId" property="couponId" />
			<result column="actId" property="actId" />
			<result column="couponCode" property="couponCode" />
			<result column="userId" property="userId" />
			<result column="state" property="state" />
			<result column="createTime" property="createTime" />
			<result column="editTime" property="editTime" />
			<result column="editor" property="editor" />
			<result column="cellphone" property="cellphone" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			couponId,
			actId,
			couponCode,
			userId,
			state,
			createTime,
			editTime,
			editor
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="couponId != null and couponId != ''" >
				   		and couponId = #{couponId}
					</if>
					<if test="actId != null and actId != ''" >
				   		and actId = #{actId}
					</if>
					<if test="couponCode != null and couponCode != ''" >
				   		and couponCode = #{couponCode}
					</if>
					<if test="userId != null and userId != ''" >
				   		and userId = #{userId}
					</if>
					<if test="state != null" >
				   		and state = #{state}
					</if>
					<if test="createTime != null and createTime != ''" >
				   		and createTime = #{createTime}
					</if>
					<if test="editTime != null and editTime != ''" >
				   		and editTime = #{editTime}
					</if>
					<if test="editor != null and editor != ''" >
				   		and editor = #{editor}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessActivityCoupon -->
	<select id="findById"  resultMap="BusinessActivityCouponResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_activity_coupon where couponId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessActivityCoupon -->
	<select id="findAll" resultMap="BusinessActivityCouponResult">
		select <include refid="Base_Column_List" /> from business_activity_coupon 
	</select>
	
	<!-- 按Map对象条件查询所有BusinessActivityCoupon -->
	<select id="findByMap" resultMap="BusinessActivityCouponResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_activity_coupon <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessActivityCoupon -->
	<select id="findByExample" resultMap="BusinessActivityCouponResult" parameterType="com.community.app.module.vo.BusinessActivityCouponQuery">
		select <include refid="Base_Column_List" /> from business_activity_coupon <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessActivityCoupon根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessActivityCouponResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_activity_coupon  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessActivityCoupon列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_activity_coupon 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessActivityCoupon保存数据 -->
	<insert id="save" parameterType="BusinessActivityCoupon">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="couponId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_activity_coupon(
		actId,
		couponCode,
		userId,
		state,
		createTime,
		editTime,
		editor
		) values(
		#{actId},
		#{couponCode},
		#{userId},
		#{state},
		#{createTime},
		#{editTime},
		#{editor}
		)
	</insert>
	
	<!-- BusinessActivityCoupon修改数据 -->
	<update id="update" parameterType="BusinessActivityCoupon">
		update business_activity_coupon 
		<set>
			<if test="actId != null and actId != ''" >
			actId=#{actId},
			</if>
			<if test="couponCode != null and couponCode != ''" >
			couponCode=#{couponCode},
			</if>
			<if test="userId != null and userId != ''" >
			userId=#{userId},
			</if>
			<if test="state != null and state != ''" >
			state=#{state},
			</if>
			<if test="cellphone != null and cellphone != ''" >
			cellphone=#{cellphone},
			</if>
			<if test="createTime != null and createTime != ''" >
			createTime=#{createTime},
			</if>
			<if test="editTime != null and editTime != ''" >
			editTime=#{editTime},
			</if>
			<if test="editor != null and editor != ''" >
			editor=#{editor}
			</if>
		</set> 
		where 
		couponId=#{couponId}
	</update>
	
	<!-- BusinessActivityCoupon删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_activity_coupon where 
		actId=#{actId}
	</delete>
</mapper>