<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessActivityMessageDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessActivityMessageResult" type="BusinessActivityMessage">
			<result column="messageId" property="messageId" />
			<result column="actId" property="actId" />
			<result column="content" property="content" />
			<result column="publisherId" property="publisherId" />
			<result column="publisherName" property="publisherName" />
			<result column="publishTime" property="publishTime" />
			<result column="isPush" property="isPush" />
			<result column="createTime" property="createTime" />
			<result column="editTime" property="editTime" />
			<result column="editor" property="editor" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			messageId,
			actId,
			content,
			publisherId,
			publisherName,
			publishTime,
			isPush,
			createTime,
			editTime,
			editor
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="messageId != null and messageId != ''" >
				   		and messageId = #{messageId}
					</if>
					<if test="actId != null and actId != ''" >
				   		and actId = #{actId}
					</if>
					<if test="content != null and content != ''" >
				   		and content = #{content}
					</if>
					<if test="publisherId != null and publisherId != ''" >
				   		and publisherId = #{publisherId}
					</if>
					<if test="publisherName != null and publisherName != ''" >
				   		and publisherName = #{publisherName}
					</if>
					<if test="publishTime != null and publishTime != ''" >
				   		and publishTime = #{publishTime}
					</if>
					<if test="isPush != null and isPush != ''" >
				   		and isPush = #{isPush}
					</if>
					<if test="createTime != null and createTime != ''" >
				   		and createTime = #{createTime}
					</if>
					<if test="editTime != null and editTime != ''" >
				   		and editTime = #{editTime}
					</if>
					<if test="editor != null and editor != ''" >
				   		and editor = #{editor}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessActivityMessage -->
	<select id="findById"  resultMap="BusinessActivityMessageResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_activity_message where messageId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessActivityMessage -->
	<select id="findAll" resultMap="BusinessActivityMessageResult">
		select <include refid="Base_Column_List" /> from business_activity_message 
	</select>
	
	<!-- 按Map对象条件查询所有BusinessActivityMessage -->
	<select id="findByMap" resultMap="BusinessActivityMessageResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_activity_message <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessActivityMessage -->
	<select id="findByExample" resultMap="BusinessActivityMessageResult" parameterType="com.community.app.module.vo.BusinessActivityMessageQuery">
		select <include refid="Base_Column_List" /> from business_activity_message <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessActivityMessage根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessActivityMessageResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_activity_message  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessActivityMessage列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_activity_message 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessActivityMessage保存数据 -->
	<insert id="save" parameterType="BusinessActivityMessage">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="messageId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_activity_message(
		
		actId,
		content,
		publisherId,
		publisherName,
		publishTime,
		isPush,
		createTime,
		editTime,
		editor
		) values(
				#{actId},
		#{content},
		#{publisherId},
		#{publisherName},
		#{publishTime},
		#{isPush},
		#{createTime},
		#{editTime},
		#{editor}
		)
	</insert>
	
	<!-- BusinessActivityMessage修改数据 -->
	<update id="update" parameterType="BusinessActivityMessage">
		update business_activity_message 
		<set>
			<if test="actId != null and actId != ''" >
			actId=#{actId},
			</if>
			<if test="content != null and content != ''" >
			content=#{content},
			</if>
			<if test="publisherId != null and publisherId != ''" >
			publisherId=#{publisherId},
			</if>
			<if test="publisherName != null and publisherName != ''" >
			publisherName=#{publisherName},
			</if>
			<if test="publishTime != null and publishTime != ''" >
			publishTime=#{publishTime},
			</if>
			<if test="isPush != null and isPush != ''" >
			isPush=#{isPush},
			</if>
			<if test="createTime != null and createTime != ''" >
			createTime=#{createTime},
			</if>
			<if test="editTime != null and editTime != ''" >
			editTime=#{editTime},
			</if>
			<if test="editor != null and editor != ''" >
			editor=#{editor}
			</if>
		</set> 
		where 
		messageId=#{messageId}
		
		
		
		
		
		
		
		
		
	</update>
	
	<!-- BusinessActivityMessage删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_activity_message where 
		messageId=#{messageId}
																			</delete>
	
</mapper>
	
