<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessRoleRefuDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessRoleRefuResult" type="BusinessRoleRefu">
			<result column="refuId" property="refuId" />
			<result column="roleId" property="roleId" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			refuId,
			roleId
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="refuId != null and refuId != ''" >
				   		and refuId = #{refuId}
					</if>
					<if test="roleId != null and roleId != ''" >
				   		and roleId = #{roleId}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessRoleRefu -->
	<select id="findById"  resultMap="BusinessRoleRefuResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_role_refu where refuId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessRoleRefu -->
	<select id="findAll" resultMap="BusinessRoleRefuResult">
		select <include refid="Base_Column_List" /> from business_role_refu 
	</select>
	
	<!-- 按Map对象条件查询所有BusinessRoleRefu -->
	<select id="findByMap" resultMap="BusinessRoleRefuResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_role_refu <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessRoleRefu -->
	<select id="findByExample" resultMap="BusinessRoleRefuResult" parameterType="com.community.app.module.vo.BusinessRoleRefuQuery">
		select <include refid="Base_Column_List" /> from business_role_refu <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessRoleRefu根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessRoleRefuResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_role_refu  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessRoleRefu列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_role_refu 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessRoleRefu保存数据 -->
	<insert id="save" parameterType="BusinessRoleRefu">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="refuId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_role_refu(
		
		roleId
		) values(
				#{roleId}
		)
	</insert>
	
	<!-- BusinessRoleRefu修改数据 -->
	<update id="update" parameterType="BusinessRoleRefu">
		update business_role_refu 
		<set>
			<if test="roleId != null and roleId != ''" >
			roleId=#{roleId}
			</if>
		</set> 
		where 
		refuId=#{refuId}
		
	</update>
	
	<!-- BusinessRoleRefu删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_role_refu where 
		refuId=#{refuId}
			</delete>
	
	<!-- BusinessRoleRefu根据搜索条件，搜索分页所需的数据 -->
	<select id="findAllPageByField" resultMap="BusinessRoleRefuResult" parameterType="Object">
		select 
		<if test="fieldMap != null and fieldMap != ''" >
			<foreach collection="fieldMap" item="field" separator=",">  
	    	#{field}
	    	</foreach>
		</if>
		<if test="fieldMap == null"> * </if>
		from business_role_refu  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessRoleRefu根据条件查询所需字段，返回列表 -->
	<select id="findListByField" resultMap="BusinessRoleRefuResult" parameterType="Object">
		select 
		<if test="fieldMap != null and fieldMap != ''" >
			<foreach collection="fieldMap" item="field" separator=",">  
	    	#{field}
	    	</foreach>
		</if>
		<if test="fieldMap == null"> * </if>
		from business_role_refu  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	</select>
	
	<!-- 根据id查询 BusinessRoleRefu -->
	<select id="findByField"  resultMap="BusinessRoleRefuResult" parameterType="Object">
		select 
		<if test="fieldMap != null and fieldMap != ''" >
			<foreach collection="fieldMap" item="field" separator=",">  
	    	#{field}
	    	</foreach>
		</if>
		<if test="fieldMap == null"> * </if>
		from business_role_refu where refuId = #{id}
	</select>
	
</mapper>
	
