<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessFocusDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessFocusResult" type="BusinessFocus">
			<result column="focusId" property="focusId" />
			<result column="title" property="title" />
			<result column="content" property="content" />
			<result column="picUrl" property="picUrl" />
			<result column="sourceType" property="sourceType" />
			<result column="sourceId" property="sourceId" />
			<result column="selectTime" property="selectTime" />
			<result column="state" property="state" />
			<result column="pageUrl" property="pageUrl" />
			<result column="selectorId" property="selectorId" />
			<result column="selectorName" property="selectorName" />
			<result column="auditorId" property="auditorId" />
			<result column="auditTime" property="auditTime" />
			<result column="auditorName" property="auditorName" />
			<result column="startTime" property="startTime" />
			<result column="endTime" property="endTime" />
			<result column="visits" property="visits" />
			<result column="supports" property="supports" />
			<result column="focusScope" property="focusScope" />
			<result column="ishtml" property="ishtml" />
			<result column="auditInfo" property="auditInfo" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			distinct(f.focusId),
			f.title,
			f.content,
			f.picUrl,
			f.sourceType,
			f.sourceId,
			f.selectTime,
			f.state,
			f.pageUrl,
			f.selectorId,
			f.selectorName,
			f.auditorId,
			f.auditTime,
			f.focusScope,
			f.auditorName,
			f.startTime,
			f.endTime,
			f.visits,
			f.supports,
			f.ishtml,
			f.auditInfo
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="focusId != null and focusId != ''" >
				   		and f.focusId = #{focusId}
					</if>
					<if test="title != null and title != ''" >
				   		and f.title = #{title}
					</if>
					<if test="content != null and content != ''" >
				   		and f.content = #{content}
					</if>
					<if test="picUrl != null and picUrl != ''" >
				   		and f.picUrl = #{picUrl}
					</if>
					<if test="sourceType != null and sourceType != ''" >
				   		and f.sourceType = #{sourceType}
					</if>
					<if test="sourceId != null and sourceId != ''" >
				   		and f.sourceId = #{sourceId}
					</if>
					<if test="selectTime != null and selectTime != ''" >
				   		and f.selectTime = #{selectTime}
					</if>
					<if test="state != null " >
				   		and f.state = #{state}
					</if>
					<if test="pageUrl != null and pageUrl != ''" >
				   		and f.pageUrl = #{pageUrl}
					</if>
					<if test="selectorId != null and selectorId != ''" >
				   		and f.selectorId = #{selectorId}
					</if>
					<if test="selectorName != null and selectorName != ''" >
				   		and f.selectorName = #{selectorName}
					</if>
					<if test="auditorId != null and auditorId != ''" >
				   		and f.auditorId = #{auditorId}
					</if>
					<if test="auditTime != null and auditTime != ''" >
				   		and f.auditTime = #{auditTime}
					</if>
					<if test="auditorName != null and auditorName != ''" >
				   		and f.auditorName = #{auditorName}
					</if><!-- 
					<if test="startTime != null and startTime != ''" >
				   		and startTime = #{startTime}
					</if>
					<if test="endTime != null and endTime != ''" >
				   		and endTime = #{endTime}
					</if> -->
					<if test="visits != null and visits != ''" >
				   		and f.visits = #{visits}
					</if>
					<if test="supports != null and supports != ''" >
				   		and f.supports = #{supports}
					</if>
					
					<if test="timeScope != null and timeScope != ''" >
	      				and #{timeScope} >= DATEDIFF(now(), f.selectTime)
		      		</if>
		      		<if test="startTime !=null and startTime != '' and endTime !=null and endTime != '' " >
		      			and date(f.selectTime) between '${startTime}' and '${endTime}'
		      		</if>
		      		<if test="keyWord != null and keyWord != ''" >
				   		and (f.title like '%${keyWord}%' or f.selectorName like '%${keyWord}%')
					</if>
					<if test="curUserId != null and curUserId != ''" >
						and res.userId=#{curUserId} 
					</if>
					<if test="curComId != null and curComId != ''" >
						and res.comId=#{curComId} 
					</if>
					<if test="curEstateId != null and curEstateId != 0" >
			   			and res.estateId = #{curEstateId}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List_app" >
			f.focusId,
			f.title,
			f.content,
			f.picUrl,
			f.sourceType,
			f.sourceId,
			f.selectTime,
			f.state,
			f.pageUrl,
			f.selectorId,
			f.selectorName,
			f.auditorId,
			f.auditTime,
			f.auditorName,
			f.startTime,
			f.endTime,
			f.visits,
			f.supports,
			f.ishtml
	</sql>
	
	<!-- 根据id查询 BusinessFocus -->
	<select id="findById"  resultMap="BusinessFocusResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_focus f where f.focusId = #{id}
	</select>
	
	<!-- 根据id查询 BusinessFocus -->
	<select id="findById_app"  resultType="BusinessFocus" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List_app" /> from app_focus_scope s inner join  business_focus f on f.focusId=s.focusId where  s.estateId=#{id} and state=0 order by selectTime desc limit 0,10 
	</select>
	
	<!-- 无条件查询所有BusinessFocus -->
	<select id="findAll" resultMap="BusinessFocusResult">
		select <include refid="Base_Column_List" /> from business_focus f
	</select>
	
	<!-- 按Map对象条件查询所有BusinessFocus -->
	<select id="findByMap" resultMap="BusinessFocusResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_focus f <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessFocus -->
	<select id="findByExample" resultMap="BusinessFocusResult" parameterType="com.community.app.module.vo.BusinessFocusQuery">
		select <include refid="Base_Column_List" /> from business_focus f <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessFocus根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessFocusResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_focus f 
		inner join app_focus_scope scope on f.focusId = scope.focusId
		<if test="curUserId != null and curUserId != ''" >
		INNER JOIN manage_estate e ON e.estateId = scope.estateId
		INNER JOIN business_user_resource res ON res.comId = e.comId
		</if>
		<if test="curUserId == null" >
		INNER JOIN business_user_resource res ON res.estateId = scope.estateId
		</if>
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessFocus列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(distinct(f.focusId)) as annoCount from business_focus f
		inner join app_focus_scope scope on scope.focusId = f.focusId
		<if test="curUserId != null and curUserId != ''" >
		INNER JOIN manage_estate e ON e.estateId = scope.estateId
		INNER JOIN business_user_resource res ON res.comId = e.comId
		</if>
		<if test="curUserId == null" >
		INNER JOIN business_user_resource res ON res.estateId = scope.estateId
		</if>
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessFocus保存数据 -->
	<insert id="save" parameterType="BusinessFocus">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="focusId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_focus(
		title,
		content,
		picUrl,
		sourceType,
		sourceId,
		selectTime,
		state,
		pageUrl,
		selectorId,
		selectorName,
		auditorId,
		auditTime,
		auditorName,
		startTime,
		endTime,
		focusScope,
		visits,
		supports,
		ishtml,
		auditInfo
		) values(
		#{title},
		#{content},
		#{picUrl},
		#{sourceType},
		#{sourceId},
		#{selectTime},
		#{state},
		#{pageUrl},
		#{selectorId},
		#{selectorName},
		#{auditorId},
		#{auditTime},
		#{auditorName},
		#{startTime},
		#{endTime},
		#{focusScope},
		#{visits},
		#{supports},
		#{ishtml},
		#{auditInfo}
		)
	</insert>
	
	<!-- BusinessFocus修改数据 -->
	<update id="update" parameterType="BusinessFocus">
		update business_focus 
		<set>
			<if test="title != null and title != ''" >
			title=#{title},
			</if>
			<if test="content != null and content != ''" >
			content=#{content},
			</if>
			<if test="picUrl != null and picUrl != ''" >
			picUrl=#{picUrl},
			</if>
			<if test="sourceType != null and sourceType != ''" >
			sourceType=#{sourceType},
			</if>
			<if test="sourceId != null and sourceId != ''" >
			sourceId=#{sourceId},
			</if>
			<if test="selectTime != null and selectTime != ''" >
			selectTime=#{selectTime},
			</if>
			<if test="state != null " >
			state=#{state},
			</if>
			<if test="pageUrl != null and pageUrl != ''" >
			pageUrl=#{pageUrl},
			</if>
			<if test="selectorId != null and selectorId != ''" >
			selectorId=#{selectorId},
			</if>
			<if test="selectorName != null and selectorName != ''" >
			selectorName=#{selectorName},
			</if>
			<if test="auditorId != null and auditorId != ''" >
			auditorId=#{auditorId},
			</if>
			<if test="auditTime != null and auditTime != ''" >
			auditTime=#{auditTime},
			</if>
			<if test="focusScope != null and focusScope != ''" >
			focusScope=#{focusScope},
			</if>
			<if test="auditorName != null and auditorName != ''" >
			auditorName=#{auditorName},
			</if>
			<if test="startTime != null and startTime != ''" >
			startTime=#{startTime},
			</if>
			<if test="endTime != null and endTime != ''" >
			endTime=#{endTime},
			</if>
			<if test="visits != null and visits != ''" >
			visits=#{visits},
			</if>
			<if test="supports != null and supports != ''" >
			supports=#{supports},
			</if>
			<if test="auditInfo != null and auditInfo != ''" >
			auditInfo=#{auditInfo}
			</if>
		</set> 
		where 
		focusId=#{focusId}
	</update>
	
	<!--修改浏览量 -->
	<update id="updateVisits" parameterType="java.lang.Integer">
	UPDATE business_focus SET visits=visits+1 where focusId=#{id}
	</update>
	
	<!-- BusinessFocus删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_focus where 
		focusId=#{focusId}
	</delete>
</mapper>