<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessUserCommunityDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessUserCommunityResult" type="BusinessUserCommunity">
			<result column="urcoId" property="urcoId" />
			<result column="userId" property="userId" />
			<result column="comId" property="comId" />
			<result column="createTime" property="createTime" />
			<result column="editTime" property="editTime" />
			
			<result column="comName" property="comName" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			uc.urcoId,
			uc.userId,
			uc.comId,
			uc.createTime,
			uc.editTime
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="urcoId != null and urcoId != ''" >
				   		and uc.urcoId = #{urcoId}
					</if>
					<if test="userId != null and userId != ''" >
				   		and uc.userId = #{userId}
					</if>
					<if test="comId != null and comId != ''" >
				   		and uc.comId = #{comId}
					</if>
					<if test="createTime != null and createTime != ''" >
				   		and uc.createTime = #{createTime}
					</if>
					<if test="editTime != null and editTime != ''" >
				   		and uc.editTime = #{editTime}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessUserCommunity -->
	<select id="findById"  resultMap="BusinessUserCommunityResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_user_community uc where uc.urcoId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessUserCommunity -->
	<select id="findAll" resultMap="BusinessUserCommunityResult">
		select <include refid="Base_Column_List" /> from business_user_community uc
	</select>
	
	<!-- 按Map对象条件查询所有BusinessUserCommunity -->
	<select id="findByMap" resultMap="BusinessUserCommunityResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" />, com.comName from business_user_community uc
		left join business_community com on com.comId = uc.comId 
		 <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessUserCommunity -->
	<select id="findByExample" resultMap="BusinessUserCommunityResult" parameterType="com.community.app.module.vo.BusinessUserCommunityQuery">
		select <include refid="Base_Column_List" /> from business_user_community uc <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessUserCommunity根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessUserCommunityResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_user_community uc  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessUserCommunity列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_user_community uc
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessUserCommunity保存数据 -->
	<insert id="save" parameterType="BusinessUserCommunity">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="urcoId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_user_community(
		
		userId,
		comId,
		createTime,
		editTime
		) values(
				#{userId},
		#{comId},
		#{createTime},
		#{editTime}
		)
	</insert>
	
	<!-- BusinessUserCommunity修改数据 -->
	<update id="update" parameterType="BusinessUserCommunity">
		update business_user_community 
		<set>
			<if test="userId != null and userId != ''" >
			userId=#{userId},
			</if>
			<if test="comId != null and comId != ''" >
			comId=#{comId},
			</if>
			<if test="createTime != null and createTime != ''" >
			createTime=#{createTime},
			</if>
			<if test="editTime != null and editTime != ''" >
			editTime=#{editTime}
			</if>
		</set> 
		where 
		urcoId=#{urcoId}
		
		
		
		
	</update>
	
	<!-- BusinessUserCommunity删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_user_community where 
		urcoId=#{urcoId}
									</delete>
	
	<!-- BusinessUserCommunity根据搜索条件，搜索分页所需的数据 -->
	<select id="findAllPageByField" resultMap="BusinessUserCommunityResult" parameterType="Object">
		select 
		<if test="fieldMap != null and fieldMap != ''" >
			<foreach collection="fieldMap" item="field" separator=",">  
	    	#{field}
	    	</foreach>
		</if>
		<if test="fieldMap == null"> * </if>
		from business_user_community  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessUserCommunity根据条件查询所需字段，返回列表 -->
	<select id="findListByField" resultMap="BusinessUserCommunityResult" parameterType="Object">
		select 
		<if test="fieldMap != null and fieldMap != ''" >
			<foreach collection="fieldMap" item="field" separator=",">  
	    	#{field}
	    	</foreach>
		</if>
		<if test="fieldMap == null"> * </if>
		from business_user_community  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	</select>
	
	<!-- 根据id查询 BusinessUserCommunity -->
	<select id="findByField"  resultMap="BusinessUserCommunityResult" parameterType="Object">
		select 
		<if test="fieldMap != null and fieldMap != ''" >
			<foreach collection="fieldMap" item="field" separator=",">  
	    	#{field}
	    	</foreach>
		</if>
		<if test="fieldMap == null"> * </if>
		from business_user_community where urcoId = #{id}
	</select>
	
</mapper>
	
