<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessBreakAudioDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessBreakAudioResult" type="BusinessBreakAudio">
			<result column="audioId" property="audioId" />
			<result column="breakId" property="breakId" />
			<result column="picUrl" property="picUrl" />
			<result column="size" property="size" />
			<result column="time" property="time" />
			<result column="format" property="format" />
			<result column="createTime2" property="createTime2" />
			<result column="editTime" property="editTime" />
			<result column="editor" property="editor" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			audioId,
			breakId,
			picUrl,
			size,
			time,
			format,
			createTime2,
			editTime,
			editor
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="audioId != null and audioId != ''" >
				   		and audioId = #{audioId}
					</if>
					<if test="breakId != null and breakId != ''" >
				   		and breakId = #{breakId}
					</if>
					<if test="picUrl != null and picUrl != ''" >
				   		and picUrl = #{picUrl}
					</if>
					<if test="size != null and size != ''" >
				   		and size = #{size}
					</if>
					<if test="time != null and time != ''" >
				   		and time = #{time}
					</if>
					<if test="format != null and format != ''" >
				   		and format = #{format}
					</if>
					<if test="createTime2 != null and createTime2 != ''" >
				   		and createTime2 = #{createTime2}
					</if>
					<if test="editTime != null and editTime != ''" >
				   		and editTime = #{editTime}
					</if>
					<if test="editor != null and editor != ''" >
				   		and editor = #{editor}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessBreakAudio -->
	<select id="findById"  resultMap="BusinessBreakAudioResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_break_audio where audioId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessBreakAudio -->
	<select id="findAll" resultMap="BusinessBreakAudioResult">
		select <include refid="Base_Column_List" /> from business_break_audio 
	</select>
	
	<!-- 根据爆料ID查询所有语音的爆料BusinessBreakAudio -->
	<select id="findAudioListByBreakId" resultMap="BusinessBreakAudioResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_break_audio
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按Map对象条件查询所有BusinessBreakAudio -->
	<select id="findByMap" resultMap="BusinessBreakAudioResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_break_audio <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessBreakAudio -->
	<select id="findByExample" resultMap="BusinessBreakAudioResult" parameterType="com.community.app.module.vo.BusinessBreakAudioQuery">
		select <include refid="Base_Column_List" /> from business_break_audio <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessBreakAudio根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessBreakAudioResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_break_audio  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessBreakAudio列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_break_audio 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessBreakAudio保存数据 -->
	<insert id="save" parameterType="BusinessBreakAudio">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="audioId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_break_audio(
		
		breakId,
		picUrl,
		time,
		createTime2,
		editTime
		) values(
				#{breakId},
		#{picUrl},
		#{time},
		#{createTime2},
		#{editTime}
		)
	</insert>
	
	<!-- BusinessBreakAudio修改数据 -->
	<update id="update" parameterType="BusinessBreakAudio">
		update business_break_audio 
		<set>
			<if test="breakId != null and breakId != ''" >
			breakId=#{breakId},
			</if>
			<if test="picUrl != null and picUrl != ''" >
			picUrl=#{picUrl},
			</if>
			<if test="size != null and size != ''" >
			size=#{size},
			</if>
			<if test="time != null and time != ''" >
			time=#{time},
			</if>
			<if test="format != null and format != ''" >
			format=#{format},
			</if>
			<if test="createTime2 != null and createTime2 != ''" >
			createTime2=#{createTime2},
			</if>
			<if test="editTime != null and editTime != ''" >
			editTime=#{editTime},
			</if>
			<if test="editor != null and editor != ''" >
			editor=#{editor}
			</if>
		</set> 
		where 
		audioId=#{audioId}
		
		
		
		
		
		
		
		
	</update>
	
	<!-- BusinessBreakAudio删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_break_audio where 
		audioId=#{audioId}
																	</delete>
	
</mapper>
	
