<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessProductSupportDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessProductSupportResult" type="BusinessProductSupport">
			<result column="productId" property="productId" />
			<result column="userId" property="userId" />
			<result column="createTime" property="createTime" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			productId,
			userId,
			createTime
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="productId != null and productId != ''" >
				   		and productId = #{productId}
					</if>
					<if test="userId != null and userId != ''" >
				   		and userId = #{userId}
					</if>
					<if test="createTime != null and createTime != ''" >
				   		and createTime = #{createTime}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessProductSupport -->
	<select id="findById"  resultMap="BusinessProductSupportResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_product_support where productId = #{id}
		select <include refid="Base_Column_List" /> from business_product_support where userId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessProductSupport -->
	<select id="findAll" resultMap="BusinessProductSupportResult">
		select <include refid="Base_Column_List" /> from business_product_support 
	</select>
	
	<!-- 按Map对象条件查询所有BusinessProductSupport -->
	<select id="findByMap" resultMap="BusinessProductSupportResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_product_support <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessProductSupport -->
	<select id="findByExample" resultMap="BusinessProductSupportResult" parameterType="com.community.app.module.vo.BusinessProductSupportQuery">
		select <include refid="Base_Column_List" /> from business_product_support <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessProductSupport根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessProductSupportResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_product_support  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	#{pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    #{pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessProductSupport列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_product_support 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessProductSupport保存数据 -->
	<insert id="save" parameterType="BusinessProductSupport">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="productIduserId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_product_support(
		productId,
		userId,
		createTime
		) values(
		#{productId},
		#{userId},
		#{createTime}
		)
	</insert>
	
	<!-- BusinessProductSupport修改数据 -->
	<update id="update" parameterType="BusinessProductSupport">
		update business_product_support 
		<set>
			<if test="createTime != null and createTime != ''" >
			createTime=#{createTime}
			</if>
		</set> 
		where 
		productId=#{productId}
		userId=#{userId}
		
	</update>
	
	<!-- BusinessProductSupport删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_product_support where 
		productId=#{productId}
		userId=#{userId}
			</delete>
	
</mapper>
	
