<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessProductTypeDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessProductTypeResult" type="BusinessProductType">
			<result column="typeId" property="typeId" />
			<result column="typeName" property="typeName" />
			<result column="typeImage" property="typeImage" />
			<result column="createTime" property="createTime" />
			<result column="editTime" property="editTime" />
			<result column="editor" property="editor" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			typeId,
			typeName,
			typeImage,
			createTime,
			editTime,
			editor
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="typeId != null and typeId != ''" >
				   		and typeId = #{typeId}
					</if>
					<if test="typeName != null and typeName != ''" >
				   		and typeName = #{typeName}
					</if>
					<if test="typeImage != null and typeImage != ''" >
				   		and typeImage = #{typeImage}
					</if>
					<if test="createTime != null and createTime != ''" >
				   		and createTime = #{createTime}
					</if>
					<if test="editTime != null and editTime != ''" >
				   		and editTime = #{editTime}
					</if>
					<if test="editor != null and editor != ''" >
				   		and editor = #{editor}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessProductType -->
	<select id="findById"  resultMap="BusinessProductTypeResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_product_type where typeId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessProductType -->
	<select id="findAll" resultMap="BusinessProductTypeResult">
		select <include refid="Base_Column_List" /> from business_product_type 
	</select>
	
	<!-- 按Map对象条件查询所有BusinessProductType -->
	<select id="findByMap" resultMap="BusinessProductTypeResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_product_type <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有BusinessProductType -->
	<select id="findByExample" resultMap="BusinessProductTypeResult" parameterType="com.community.app.module.vo.BusinessProductTypeQuery">
		select <include refid="Base_Column_List" /> from business_product_type <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessProductType根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="BusinessProductTypeResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from business_product_type  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessProductType列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_product_type 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessProductType保存数据 -->
	<insert id="save" parameterType="BusinessProductType">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="typeId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_product_type(
		typeName,
		typeImage,
		createTime,
		editTime,
		editor
		) values(
		#{typeName},
		#{typeImage},
		#{createTime},
		#{editTime},
		#{editor}
		)
	</insert>
	
	<!-- BusinessProductType修改数据 -->
	<update id="update" parameterType="BusinessProductType">
		update business_product_type 
		<set>
			<if test="typeName != null and typeName != ''" >
			typeName=#{typeName},
			</if>
			<if test="typeImage != null and typeImage != ''" >
			typeImage=#{typeImage},
			</if>
			<if test="createTime != null and createTime != ''" >
			createTime=#{createTime},
			</if>
			<if test="editTime != null and editTime != ''" >
			editTime=#{editTime},
			</if>
			<if test="editor != null and editor != ''" >
			editor=#{editor}
			</if>
		</set> 
		where 
		typeId=#{typeId}
	</update>
	
	<!-- BusinessProductType删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_product_type where 
		typeId=#{typeId}
	</delete>
</mapper>