<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.BusinessNewsCommentDao" >
	<!-- 返回结构集 -->
	<resultMap id="BusinessNewsCommentResult" type="BusinessNewsComment">
			<result column="commentId" property="commentId" />
			<result column="newsId" property="newsId" />
			<result column="commentorId" property="commentorId" />
			<result column="commentorName" property="commentorName" />
			<result column="content" property="content" />
			<result column="commentTime" property="commentTime" />
			<result column="replyId" property="replyId" />
			<result column="replyName" property="replyName" />
			<result column="commentorState" property="commentorState" />
			<result column="replyState" property="replyState" />
			
			<result column="portrait" property="portrait" />
			<result column="nickname" property="nickname" />

	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			commentId,
			newsId,
			commentorId,
			commentorName,
			content,
			commentTime,
			replyId,
			replyName,
			commentorState,
			replyState
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="commentId != null and commentId != ''" >
				   		and commentId = #{commentId}
					</if>
					<if test="newsId != null and newsId != ''" >
				   		and newsId = #{newsId}
					</if>
					<if test="commentorId != null and commentorId != ''" >
				   		and commentorId = #{commentorId}
					</if>
					<if test="commentorName != null and commentorName != ''" >
				   		and commentorName = #{commentorName}
					</if>
					<if test="content != null and content != ''" >
				   		and content = #{content}
					</if>
					<if test="commentTime != null and commentTime != ''" >
				   		and commentTime = #{commentTime}
					</if>
					<if test="replyId != null and replyId != ''" >
				   		and replyId = #{replyId}
					</if>
					<if test="replyName != null and replyName != ''" >
				   		and replyName = #{replyName}
					</if>
					<if test="commentorState == 0 and replyState == 0" >
				   		and commentorState = '0'  and commentorId = #{userId} or newsId = #{newsId}  and replyState = '0' and replyId = #{userId}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 后台新闻评论所有字段 -->
	<sql id="Base_Column_List_Manage" >
			commentId,
			newsId,
			commentorId,
			commentorName,
			content,
			commentTime,
			replyId,
			replyName,
			commentorState,
			replyState
	</sql>
	
	<!-- 后台新闻评论所有字段查询条件 -->
	<sql id="Base_Where_Clause_Manage">
		<where>
			<trim  suffixOverrides="," >
					<if test="commentId != null and commentId != ''" >
				   		and commentId = #{commentId}
					</if>
					<if test="newsId != null and newsId != ''" >
				   		and newsId = #{newsId}
					</if>
					<if test="commentorId != null and commentorId != ''" >
				   		and commentorId = #{commentorId}
					</if>
					<if test="commentorName != null and commentorName != ''" >
				   		and commentorName = #{commentorName}
					</if>
					<if test="content != null and content != ''" >
				   		and content = #{content}
					</if>
					<if test="commentTime != null and commentTime != ''" >
				   		and commentTime = #{commentTime}
					</if>
					<if test="replyId != null and replyId != ''" >
				   		and replyId = #{replyId}
					</if>
					<if test="replyName != null and replyName != ''" >
				   		and replyName = #{replyName}
					</if>
					<if test="commentorState != null and commentorState != ''" >
				   		and commentorState = #{commentorState}
					</if>
					<if test="replyState != null and replyState != ''" >
				   		and replyState = #{replyState}
					</if>
					<if test="keyWord != null and keyWord != ''" >
				   		and content like '%${keyWord}%'
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 BusinessNewsComment -->
	<select id="findById"  resultMap="BusinessNewsCommentResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from business_news_comment where commentId = #{id}
	</select>
	
	<!-- 无条件查询所有BusinessNewsComment -->
	<select id="findAll" resultMap="BusinessNewsCommentResult">
		select <include refid="Base_Column_List" /> from business_news_comment 
	</select>
	
	<!-- 按Map对象条件查询所有BusinessNewsComment -->
	<select id="findByMap" resultMap="BusinessNewsCommentResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from business_news_comment <include refid="Base_Where_Clause" /> order by commentTime desc
	</select>
	
	<!-- 按VO对象条件查询所有BusinessNewsComment -->
	<select id="findByExample" resultMap="BusinessNewsCommentResult" parameterType="com.community.app.module.vo.BusinessNewsCommentQuery">
		select <include refid="Base_Column_List" /> from business_news_comment <include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessNewsComment根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultType="BusinessNewsComment" parameterType="Object">
		select <include refid="Base_Column_List" />,u.portrait,u.nickname,bu.nickname as buNickname,avatar from business_news_comment c left join app_user u on u.userId=c.commentorId left join business_user bu on bu.userId=c.commentorId 
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessNewsComment列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_news_comment 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- BusinessNewsComment根据搜索条件，搜索分页数据 -->
	<select id="findAllPage_manage" resultType="BusinessNewsComment" parameterType="Object">
		select <include refid="Base_Column_List_Manage" />,u.portrait,u.nickname,bu.nickname as buNickname,avatar from business_news_comment c left join app_user u on u.userId=c.commentorId left join business_user bu on bu.userId=c.commentorId 
		<include refid="Base_Where_Clause_Manage" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- BusinessNewsComment列表总数-->
	<select id="selectCount_manage" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from business_news_comment 
		<include refid="Base_Where_Clause_Manage" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	</select>
	
	<!-- BusinessNewsComment保存数据 -->
	<insert id="save" parameterType="BusinessNewsComment">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="commentId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_news_comment(
		newsId,
		commentorId,
		commentorName,
		content,
		commentTime,
		replyId,
		replyName,
		commentorState,
		replyState
		) values(
		#{newsId},
		#{commentorId},
		(select nickname from app_user where userId=#{commentorId}),
		#{content},
		#{commentTime},
		#{replyId},
		#{replyName},
		#{commentorState},
		#{replyState}
		)
	</insert>
	
	<!-- BusinessNewsComment保存数据 -->
	<insert id="replySave" parameterType="BusinessNewsComment">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="commentId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into business_news_comment(
		newsId,
		commentorId,
		commentorName,
		content,
		commentTime,
		replyId,
		replyName,
		commentorState,
		replyState
		) values(
		#{newsId},
		#{commentorId},
		#{commentorName},
		#{content},
		#{commentTime},
		#{replyId},
		#{replyName},
		#{commentorState},
		#{replyState}
		)
	</insert>
	
	<!-- BusinessNewsComment修改数据 -->
	<update id="update" parameterType="BusinessNewsComment">
		update business_news_comment 
		<set>
			<if test="newsId != null and newsId != ''" >
			newsId=#{newsId},
			</if>
			<if test="commentorId != null and commentorId != ''" >
			commentorId=#{commentorId},
			</if>
			<if test="commentorName != null and commentorName != ''" >
			commentorName=#{commentorName},
			</if>
			<if test="content != null and content != ''" >
			content=#{content},
			</if>
			<if test="commentTime != null and commentTime != ''" >
			commentTime=#{commentTime},
			</if>
			<if test="replyId != null and replyId != ''" >
			replyId=#{replyId},
			</if>
			<if test="replyName != null and replyName != ''" >
			replyName=#{replyName}
			</if>
			<if test="commentorState != null and commentorState != ''" >
			commentorState=#{commentorState}
			</if>
			<if test="replyState != null and replyState != ''" >
			replyState=#{replyState}
			</if>
		</set> 
		where 
		commentId=#{commentId}
	</update>
	
	<!-- BusinessNewsComment删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from business_news_comment where 
		commentId=#{commentId}
	</delete>
</mapper>