<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.app.module.dao.ManageSendMsgDao" >
	<!-- 返回结构集 -->
	<resultMap id="ManageSendMsgResult" type="ManageSendMsg">
			<result column="sendId" property="sendId" />
			<result column="sendTel" property="sendTel" />
			<result column="sendContent" property="sendContent" />
			<result column="recvCode" property="recvCode" />
			<result column="sendTime" property="sendTime" />
			<result column="sendType" property="sendType" />
	</resultMap>
	
	<!-- 所有字段 -->
	<sql id="Base_Column_List" >
			sendId,
			sendTel,
			sendContent,
			recvCode,
			sendTime,
			sendType
	</sql>
	
	<!-- 所有字段查询条件 -->
	<sql id="Base_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
					<if test="sendId != null and sendId != ''" >
				   		and sendId = #{sendId}
					</if>
					<if test="sendTel != null and sendTel != ''" >
				   		and sendTel = #{sendTel}
					</if>
					<if test="sendContent != null and sendContent != ''" >
				   		and sendContent = #{sendContent}
					</if>
					<if test="recvCode != null and recvCode != ''" >
				   		and recvCode = #{recvCode}
					</if>
					<if test="sendTime != null and sendTime != ''" >
				   		and sendTime = #{sendTime}
					</if>
					<if test="sendType != null and sendType != ''" >
				   		and sendType = #{sendType}
					</if>
			</trim>
		</where>
	</sql>
	
	<!-- 根据id查询 ManageSendMsg -->
	<select id="findById"  resultMap="ManageSendMsgResult" parameterType="java.lang.Integer">
		select <include refid="Base_Column_List" /> from manage_send_msg where sendId = #{id}
	</select>
	
	<!-- 无条件查询所有ManageSendMsg -->
	<select id="findAll" resultMap="ManageSendMsgResult">
		select <include refid="Base_Column_List" /> from manage_send_msg 
	</select>
	
	<!-- 按Map对象条件查询所有ManageSendMsg -->
	<select id="findByMap" resultMap="ManageSendMsgResult" parameterType="java.util.Map">
		select <include refid="Base_Column_List" /> from manage_send_msg <include refid="Base_Where_Clause" />
	</select>
	
	<!-- 按VO对象条件查询所有ManageSendMsg -->
	<select id="findByExample" resultMap="ManageSendMsgResult" parameterType="com.community.app.module.vo.ManageSendMsgQuery">
		select <include refid="Base_Column_List" /> from manage_send_msg <include refid="Base_Where_Clause" />
	</select>
	
	<!-- ManageSendMsg根据搜索条件，搜索分页数据 -->
	<select id="findAllPage" resultMap="ManageSendMsgResult" parameterType="Object">
		select <include refid="Base_Column_List" /> from manage_send_msg  
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      	${pager.orderCondition}
	    </if>
	    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
	    ${pager.mysqlQueryCondition}
	    </if>
	</select>
	
	<!-- ManageSendMsg列表总数-->
	<select id="selectCount" resultType="java.lang.Integer"  parameterType="Object">
		select count(1) from manage_send_msg 
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- ManageSendMsg保存数据 -->
	<insert id="save" parameterType="ManageSendMsg">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="sendId">
			SELECT LAST_INSERT_ID()
  		</selectKey>
		insert into manage_send_msg(
		
		sendTel,
		sendContent,
		recvCode,
		sendTime,
		sendType
		) values(
				#{sendTel},
		#{sendContent},
		#{recvCode},
		#{sendTime},
		#{sendType}
		)
	</insert>
	
	<!-- ManageSendMsg修改数据 -->
	<update id="update" parameterType="ManageSendMsg">
		update manage_send_msg 
		<set>
			<if test="sendTel != null and sendTel != ''" >
			sendTel=#{sendTel},
			</if>
			<if test="sendContent != null and sendContent != ''" >
			sendContent=#{sendContent},
			</if>
			<if test="recvCode != null and recvCode != ''" >
			recvCode=#{recvCode},
			</if>
			<if test="sendTime != null and sendTime != ''" >
			sendTime=#{sendTime},
			</if>
			<if test="sendType != null and sendType != ''" >
			sendType=#{sendType}
			</if>
		</set> 
		where 
		sendId=#{sendId}
		
		
		
		
		
	</update>
	
	<!-- ManageSendMsg删除数据 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete from manage_send_msg where 
		sendId=#{sendId}
											</delete>
	
</mapper>
	
