@charset "utf-8";
/* CSS Document */
*{-webkit-overflow-scrolling:touch;word-break:break-all;}
body,ul,ol,h1,h2,h3,dl,dt,dd,li,i,textarea{margin:0;padding:0;}
body{text-align:left;font-family:Arial,"微软雅黑",STHeiti; background-color:#f2f2f2;}
ul,ol,li,dl,dt,dd{list-style:none;}
a,a:visited{text-decoration:none; color:#666; cursor:pointer;}
em,i{ font-style:normal; }
.clearfix:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
img{ vertical-align:middle;}
.hide{ display:none; }

.x-news{ padding:0 16px; background-color:#fff;}
.x-main .x-title{margin: 0px;font-size:18px; color:#424242; line-height:23px;font-weight:bold; padding:12px 0px;}
.x-main .x-xt{ margin:0; padding:6px 0px; border-bottom:1px solid #d8d8d7; position:relative; line-height:22px;}
.x-main .x-xt img{ width:30px; height:30px; border-radius:30px;}
.x-xt .x-xdd{ padding-left:8px; font-size:12.5px; color:#424242;}
.x-xt .x-xsj{ position:absolute; right:0; top:10px; font-size:12px; color:#626262;}

.x-cx{ font-size:16px; line-height:24px; color:#424242;}

.x-cx img{ width:100% !important; height:auto !important;}
.x-cx p{ width:100% !important;}
.x-content hr{ margin:20px 0px 4px 0px; border-top: 1px solid #e2e2e2;}
.x-zs{ height:38px; position:relative; font-weight:bold;}
.x-btn{ display:block; width:56%; margin:0 auto; text-align:center; border-radius:6px; height:38px; line-height:38px; color:#fff;}
.x-djs{ background:#858585; border:1px solid #5b5959; cursor:default;}
.x-qg{ background:#e42909; border:1px solid #bd1e03; display:none;}
.x-pm{ background:#f9aa0c; border:1px solid #b97207; display:none;}
.x-zs .x-z{ position:absolute; right:0px; top:4px;}
.x-zs.x-z em{ margin-left:-6px; font-weight:normal;}
.x-zs1{ text-align:center;margin-top:15px; padding:13px 0; border-top:1px solid #c8c8c8;}
.x-zs1 .x-z a{ position:relative;}
.x-zs1 .x-z img {
width: 19px;
height: 19px;
}

.x-zs1 .x-z em{ vertical-align:middle;color:#7c7c7c}
.x-main .x-pl{ padding:0 10px 10px; margin-bottom:80px;}
.x-pc{ padding:10px 0;font-size:11px; color:#030303;}
.s-clt {padding-top:10px;border-top: 1px solid #e2e2e2;position: relative;}
.s-clt.first {border-top: medium none;}
.s-clt dt {left: 0;overflow: hidden;position: absolute;text-align: center;top: 12px;}
.s-clt dd {
    margin-left: 36px;
    overflow: hidden;
}
.pto img {
    border-radius: 30px;
    height: 30px;
    width: 30px;
	border:none;
}
.info {
    line-height: 14px;
    overflow: hidden;
    font-size:14px;
    padding-top:4px;
    color:#9a9a9a; 
}
.nine {display: block; color:#6d6d6d; font-size:12px;}
.time{color:#6d6d6d; font-size:12px;}
.s-clt .one {padding: 6px 2px 10px 2px;font-size:14px;color:#1f1f1f; line-height:20px;word-break:break-all}
.more {color: #ababab;display: block;height: 20px;line-height: 20px;text-align: center; font-size:12px;border-top: 1px solid #e2e2e2;padding:10px 0;}

.x-inp{ background:#fff; padding:10px; border-top:1px solid #dedbdb; text-align:center; position:fixed; bottom:0; left:0; right:0;}
.x-inp .x-inc{ width:100%; height:33px;border-radius: 3px; opacity:0.3; color:#282828; font-size:14px;box-sizing:border-box;  -webkit-box-sizing:border-box;padding:0 0 0 8px;}
.x-inp div{ width:100%; display:table;}
.x-inp div span{display:table-cell; height:33px;vertical-align:top;}
.x-inp div span:nth-child(1){  padding-right:4px;}
.x-inp div span:nth-child(2){ width:42px;}
.x-inp input[type=button]{ height:33px; border-radius:3px; width:46px;background:url(../images/sent.png) no-repeat center center #f9c487; background-size:21px 20px; -webkit-background-size:21px 20px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.tab{display:table;}
.tleft{display:table-cell}

/*20140823*/
.scroll{ position:absolute; top:0; bottom:57px; left:0; right:0; overflow:auto;}
.x-inp{ position:absolute; bottom:0; left:0; right:0;}
.x-main .x-pl{ margin-bottom:20px;}



/*排行榜*/
.sortb{ background:#fff;}
.sort{ margin:10px; border:1px solid #cbcbcb; border-radius:10px; color:#000; font-size:16px;}
.s-tit{ color:#818181;}
.sort li{ height:44px; line-height:44px; padding:0 10px; text-align:center; position:relative; border-bottom:1px solid #dcdcdc;}
.sort li:last-child{ border:none;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
.sort .s-whi{ color:#fff; height: 30px;line-height: 30px;margin-top: 6px; border-radius:8px;}
.sort li:nth-child(2) em{ background:#ff0000; margin:10px 0px 10px 0px;}
.sort li:nth-child(3) em{ background:#ffc000;}
.sort li:nth-child(4) em{ background:#99c030;}
.sort em{ position:absolute; left:10px; padding:0px 5px;}
.sort span{ text-align:center; margin:0 30px 0 15px;}
.sort time{ position:absolute; right:10px;}
.s-active{ background:#f1f1f1;}
.s-active em img{ width:30px; height:30px; border-radius:30px;}


/*自定义alert*/
.tk{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:1; background:rgba(0,0,0,0.3);}
.ttotal{  position:absolute; top:50%; margin-top:-49px; left:50%; width:80%; margin-left:-40%;}
.tcontent{ padding:38px 18px 0; background:#fff; border-radius:2px; border-radius:8px; box-sizing:border-box; -webkit-box-sizing:border-box; position:relative; background:url(../images/tkt.png) repeat-x 8px top #fff;}
.tcontent p{ margin:0; padding:0;}
.tcontent .title{ font-size:16px; color:#000; line-height:40px; border-bottom:1px solid #f7ad00; padding-left:10px;}
.thead p{color:#424242; font-size:15px; line-height:20px; padding-bottom:12px;}
.tbtn{ text-align:center; padding-bottom:18px;}
.tbtn a{ display:inline-block; border-radius:2px; background-color:#eb6211; color:#fff; font-size:15px; font-weight:bold; width:83px; height:40px; line-height:40px;  }
.tkt{ position:absolute; top:-4px; left:8px; right:8px; display:inline-block; background:url(/community/js/activity/images/tkt.png) repeat-x left center; height:14px;}
.tkr{ position:absolute; top:-33px; right:15px; display:inline-block; background:url(/community/js/activity/images/tkr.png) no-repeat center center; width:100px; height:51px; background-size:100px 51px; -webkit-background-size:100px 51px;}


.x-cx p:nth-child(1){ margin-top:0;}

/*中医*/
.x-intro{ background-color:#f2f2f2; border:1px solid #e2e2e2; border-radius:4px; margin-bottom:22px; padding:10px 18px 20px 18px; color:#9f3124; font-style:italic;}
.x-intro p{ margin:0; padding:0; line-height:26px; font-size:18px;}
.x-itname a{ text-decoration:underline; color:#9f3124;}
.x-itcon{ text-indent:36px;}

.sortdes {
    color: #3a3a3a;
    font-size: 17px;
    margin: 20px;
}

.sortdes span {
    color: #ff0000;
    font-size: 28px;
}

.winname{  
    color: #eb6211;
    font-style: italic;
}
.winrank{
    background:#787878;
}



@charset "utf-8";
/* CSS Document */
body{-webkit-text-size-adjust:none;}
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
body,p,h1,h2,h3,ul,li,div{ margin:0; padding:0;}
ul,li{ list-style:none;}
h1,h2,h3,h4,h5{ font-weight:normal;}
em,i{ font-style:normal;}
body{ background-color:#f2f2f2; color:#030303; font-size:14px; line-height:18px; font-family: Arial,"微软雅黑",STHeiti;}
input{ font-size:14px;}
h1{ font-size:16px;}
a,a:hover{ color:#858585; text-decoration:none;}
input:focus{outline:none;}
input[type=button]{-webkit-appearance:none; border:none;}
input[type="text"]{ border:none;}
input,textarea,select{ outline:none;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }

/*公共*/
.tab{ display:table; width:100%; box-sizing:border-box;}
.tleft{ display:table-cell;}
.fixed{ position:fixed; bottom:0; left:0; right:0;}
.radius10 {border-radius: 14px;}
textarea{width:100%; resize:none;  padding:4px 10px; box-sizing:border-box; -webkit-box-sizing:border-box;}

/*头部*/
header.header{ height:43px; background:url(../images/border.gif) repeat-x bottom left #ffffff; background-size:16px 1px; -webkit-background-size:16px 1px;position:relative; text-align:center;}
.header h1{ color:#fd8b07; text-align:center; width:100%; line-height:43px;}
.header a{ position:absolute; top:14px;}
.header .a-back{ width:9px; height:15px; left:14px; background:url(../images/back.png); background-size:100% 100%; -webkit-background-size:100% 100%;}
.header .a-more{ width:18px; height:14px; right:14px; background:url(../images/more.gif); background-size:100% 100%; -webkit-background-size:100% 100%;}
.header .a-hfont{ position:absolute; left:14px; font-size:14px;}

/*小区开聊详情*/
.kl-total{ position:relative; height:100%;}
.kl-scroll{bottom: 50px;left: 0;overflow: auto;position: absolute;right: 0;top: 0;}
.kl-div {
background-color: #fff;
border-bottom: 1px solid #e3e3e3;
border-top: 1px solid #e3e3e3;
margin-top: 10px;
padding: 0 15px;
}
.kl-head {border-bottom: 1px solid #d8d8d7; font-size: 13px; padding: 6px 0;position: relative;}
.kl-head img{ width:33px; height:33px; border-radius:33px; vertical-align:middle;}
.kl-name{color:#424242; padding-left:4px;}
.kl-time{ color:#626262; position: absolute;right: 0;top: 14px;}
.kl-con{ margin:10px 0; line-height:22px;}
.kl-con img{ width:100% !important; height:auto !important;}
.kl-zpl{ padding-bottom:15px;}
.kl-z{ padding-left:12px;}
.bgpl{ display:inline-block; background:url(../images/pln.png); width:18px; height:17px; background-size:100%; -webkit-background-size:100%; vertical-align:middle;}
.bgz{ display:inline-block; background:url(../images/zgray.png); width:19px; height:19px; background-size:100%; -webkit-background-size:100%; vertical-align:middle;position:relative;}
.kl-hf{padding:0 16px 6px;}
.kl-hf h2{ color:#fbb74c; font-size:15px; border-bottom:1px solid #d8d8d7; line-height:45px;}
.kl-hf li{ margin-top:10px;}
.kl-hftotal .tleft{ vertical-align:top;}
.kl-img{ width:26px; padding-right:4px;}
.kl-img img{ width:26px; height:26px; border-radius:26px;}
.kl-user{color:#2d2c2c; font-size:11px;}
.kl-people{padding-left:10px; line-height:16px;}
.kl-hfcon .kl-span{ display:inline-block; border-radius:16px; padding:10px 16px; background-color:#f2f2f2;}
.kl-hftime{ font-size:10px; color:#626262; text-align:center;}
.kl-top{ margin-top:8px;}
.kl-bottom a{ display:block; width:100%; height:100%;}
.c-more{padding:20px 0px; text-align:center;}
.c-more a{ font-size:14px; color:#999999;}
.c-more i{ display:inline-block; height:3px;border-top:1px solid #f2f2f2; width:30%; line-height:18px;}
.kl-bottom{ height:50px; border-top:1px solid #dedbdb; text-align:center; line-height:50px; background-color:#fff;bottom: 0;left: 0;position: absolute;right: 0;}
.kl-bottom span{ width:56px; background:url(../images/write.png) left center no-repeat; background-size:22px 20px; -webkit-background-size:22px 20px; padding-left:28px; display:inline-block; color:#ff9600;font-weight:bold}

/*回复*/
.kl-hfpage .header{ background:#fff; border-bottom:1px solid #d2d2d2;}
.header .a-hf{ background-color:#fd8b07;border:none; font-size:12px; padding:3px 12px; top:9px; right:8px; color:#ffffff;}
.hf-winp{ border-bottom:none;}
.hf-winp .bl-inpfont{ background:none; font-size:11px;}
.bl-winp{ padding:6px 10px; background-color:#fff;}
.bl-ninp{ border:1px solid #b3b3b3;}
.bl-ninp textarea{ border:none; height:124px; font-size:13px;}
.bl-inpfont{ border-top:1px solid #b3b3b3; line-height:28px; text-align:right; padding-right:10px; background-color:#f9f9f9;}

/*家政*/
.jz-info li{ background-color:#fff;}
.jz-info .xf-detail{ padding:12px;}
.jz-cate{ font-size:16px; color:#202020; margin:6px 0; position:relative;}
.jz-cate span{ position:absolute; right:0; font-size:14px; color:#565656;}
.jz-cate em{ color:#fd8b07;}
.jz-intro{ font-size:13px; color:#565656; line-height:20px;}
.jz-info .xf-detail .l-img{ width:80px;}
.jz-info .xf-detail .l-img img{ width:80px; height:81px; border-radius:24px; vertical-align:top;}
.jz-info .xf-right{ padding-left:14px;}
.xf-detail{ display:table; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; padding:0 12px; font-size:15px; color:#303030; margin:8px 0;}
.l-img{ display:table-cell; vertical-align:middle; padding-right:9px; width:74px;}
.l-info{ display:table-cell; vertical-align:middle;}
.xf-right{ display:table-cell; width:10px; vertical-align:middle;}
.xf-right i{ display:inline-block;}
.rightgif{ width:10px; height:16px; background:url(../images/right.gif) center center no-repeat; background-size:10px 16px; -webkit-background-size:10px 16px;}

/*订单列表*/
.kj-search {margin: 8px 0; padding:0 10px; background-color:#fff;}
.kj-search a {display: table; height: 100%;width: 100%; padding:15px 7px; border-bottom:1px solid #d8d8d7; box-sizing:border-box; -webkit-box-sizing:border-box;}
.kj-search a:last-child{ border:none;}
.tleft {display: table-cell;}
.rightgif { background: url("../images/right.gif") no-repeat scroll right center / 10px 16px rgba(0, 0, 0, 0);height: 16px;padding-left: 18px;width: 10px;}
.tleft {display: table-cell;}
.kj-search div {vertical-align: middle;}
.kj-simg {height: 26px;padding-right:7px;width: 26px;}
.kj-simg img{ width:26px; height:26px;}
.l-search{ color:#030303; padding-right:5px;}
.l-from{ color:#424242; font-size:10px;}

.blockdiv {
background-color: #fff;
border-top: 1px solid #e3e3e3;
border-bottom: 1px solid #e3e3e3;
margin-bottom: 10px;
padding: 0 15px;
}

.blockdiv:first-child{border-top:none;}

.fxdown{ text-align:center;}
.fxdown img{ max-width:100%; height:auto;}




