@charset "utf-8";
/* CSS Document */

body,ul,ol,h1,h2,h3,dl,dt,dd,li,i,textarea{margin:0;padding:0;}
body{text-align:left;font-family:"宋体","微软雅黑",STHeiti; background-color:#f2f2f2;}
ul,ol,li,dl,dt,dd{list-style:none;}
a,a:visited{text-decoration:none; color:#666; cursor:pointer;}
em,i{ font-style:normal; }
.clearfix:after {clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:".";}
img{ vertical-align: middle;}
.hide{ display:none; }

.x-main{}
.x-main .x-total{ margin:10px; border:1px solid #dcdcdc; background:#fff; color:#030303; font-size:20px; padding:10px 10px; border-radius:15px;}
.x-main .x-xt{ font-size:18px;}
.x-main .x-line{border-color: -moz-use-text-color -moz-use-text-color #b2b2b2;border-style: none none dashed;border-width: medium medium 1px;}
.x-main .x-head{overflow:hidden; }	
.x-main .x-pto{}
.x-main .x-head img{ width:94px; height:94px;border-radius: 94px; float:left;}
.x-main .x-title{font-size:22px; line-height:34px; float:left;}
.x-cx em{ background:#f00; color:#fff;}
.x-cx img{ width:100%; height:auto;} p{text-indent:40px;}40
.x-cx .x-pt{ font-weight:bold;}
.x-cx i{ color:#f20000;}
.x-content hr{ margin:26px -10px; border: 1px solid #e8e8e8;}
.x-zs{ height:38px; display:-moz-box;display:-webkit-box;display:box; width:100%;}
.x-zs span{ display:block; text-align:center;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;}
.x-z{ border-right:1px solid #e8e8e8}
.x-z a{ position:relative;}
.x-zs em{ vertical-align:middle;}
.x-main .x-pl{ padding:0 10px 10px;}
.s-clt {
	padding-top:15px;
    border-top: 1px dashed #b2b2b2;
    position: relative;
}
.s-clt.first {
    border-top: medium none;
}
.s-clt dt {
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 12px;
}
.s-clt dd {
    margin-left: 70px;
    overflow: hidden;
}
.pto img {
    border-radius: 60px;
    height: 60px;
    width: 60px;
	border:none;
}
.info {
    line-height: 22px;
    overflow: hidden;
    padding-top: 10px;
}
.nine {
    display: block;
    font-size: 20px;
}
.time {
    color: #6d6d6d;
    font-size: 20px;
}
.s-clt .one {
    font-size: 20px;
    padding: 10px 2px 12px;
}

.more {
    color: #ababab;
    display: block;
    font-size: 24px;
    height: 39px;
    line-height: 39px;
    margin: 0 10px;
    text-align: center;
}
.x-inp{ background:#fff; padding:30px 15px; border-top:1px solid #9e9e9e; text-align:center; }
.x-inp p{display:-moz-box;display:-webkit-box;display:box; width:100%;}
.x-inp .x-inc{ border: 1px solid #adadad;border-radius: 15px; background:url(../images/input.png) no-repeat left center #efefef; padding-left:60px; -moz-box-flex:1;-webkit-box-flex:1;box-flex:1; display:block; height:50px;}
